rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    // A user's own document
    function isUser() {
        return isSignedIn() && exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }

    // A user's role from their own document
    function userRole() {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role;
    }

    // Is the user an admin
    function isAdmin() {
        return isUser() && userRole() == 'admin';
    }

    // Is the user a student
    function isStudent() {
        return isUser() && userRole() == 'student';
    }

    // Is the user a tutor
    function isTutor() {
        return isUser() && userRole() == 'tutor';
    }
    
    // Users collection
    // Users can be created, read, and updated by their owners.
    // Admins can read and list all users.
    match /users/{userId} {
      allow get: if isOwner(userId) || isAdmin();
      allow list: if isAdmin();
      allow create: if isOwner(userId);
      allow update: if isOwner(userId) || isAdmin();
      allow delete: if false; // soft deletes should be handled by a 'deleted' flag
    }

    // Classes collection
    match /classes/{classId} {
      // Teachers can create classes for themselves
      allow create: if isTutor() && request.resource.data.teacherId == request.auth.uid;

      // The teacher who created the class can read, update, or delete it
      allow get, update, delete: if isTutor() && get(/databases/$(database)/documents/classes/$(classId)).data.teacherId == request.auth.uid;
      
      // Teachers can list their own classes.
      allow list: if isTutor();
    }
  }
}
