rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow read/write access for any authenticated user.
    // The security of who can access a file is primarily managed by who has the
    // download URL, which is controlled by Firestore security rules.
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
