@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 222 47% 11.0%;
    --foreground: 210 40% 98%;
 
    --card: 222 47% 11.0%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222 47% 11.0%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 45 86% 51%;
    --primary-foreground: 222 47% 11.0%;
 
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
 
    --accent: 217 33% 17%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 45 86% 51%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222 47% 11.0%;
    --foreground: 210 40% 98%;
 
    --card: 222 47% 11.0%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222 47% 11.0%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 45 86% 51%;
    --primary-foreground: 222 47% 11.0%;
 
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
 
    --accent: 217 33% 17%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 45 86% 51%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .shadow-soft-shadow {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }
}
